.vscode
.o
build/cmake_install.cmake
build/CMakeCache.txt
build/libonnxclassifier.a
build/Makefile
build/test-onnx-lib
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/onnxclassifier.dir/build.make
build/CMakeFiles/onnxclassifier.dir/cmake_clean_target.cmake
build/CMakeFiles/onnxclassifier.dir/cmake_clean.cmake
build/CMakeFiles/onnxclassifier.dir/CXX.includecache
build/CMakeFiles/onnxclassifier.dir/depend.internal
build/CMakeFiles/onnxclassifier.dir/depend.make
build/CMakeFiles/onnxclassifier.dir/DependInfo.cmake
build/CMakeFiles/onnxclassifier.dir/flags.make
build/CMakeFiles/onnxclassifier.dir/link.txt
build/CMakeFiles/onnxclassifier.dir/progress.make
build/CMakeFiles/onnxclassifier.dir/src/onnx-classifier-lib.cpp.o
build/CMakeFiles/test-onnx-lib.dir/build.make
build/CMakeFiles/test-onnx-lib.dir/cmake_clean.cmake
build/CMakeFiles/test-onnx-lib.dir/CXX.includecache
build/CMakeFiles/test-onnx-lib.dir/depend.internal
build/CMakeFiles/test-onnx-lib.dir/depend.make
build/CMakeFiles/test-onnx-lib.dir/DependInfo.cmake
build/CMakeFiles/test-onnx-lib.dir/flags.make
build/CMakeFiles/test-onnx-lib.dir/link.txt
build/CMakeFiles/test-onnx-lib.dir/progress.make
build/CMakeFiles/test-onnx-lib.dir/src/testlib.cpp.o
